In [17]:
import pandas as pd
import numpy as np

In [12]:
my_df = pd.DataFrame(two_dimension_list, columns = ['name', 'english_score', 'math_score'], 
                    index = ['a', 'b', 'c', 'd'])

In [13]:
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [11]:
type(my_df)

pandas.core.frame.DataFrame

In [14]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [16]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [26]:
two_dimension_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [27]:
arr_example = np.array(two_dimension_list)

In [28]:
type(arr_example)

numpy.ndarray

In [31]:
iphone_df = pd.read_csv('./resources/iphone.csv', index_col =0 )
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [32]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [41]:
iphone_df.loc[['iPhone X', 'iPhone XS Max'], :]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [36]:
type(iphone_df.loc['iPhone X', :])

pandas.core.series.Series

In [37]:
iphone_df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [38]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [42]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [43]:
iphone_df.loc['iPhone 8' : 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [45]:
iphone_df.loc[:,'메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [49]:
iphone_df.loc[[True, False, True, True, False, False, True]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [50]:
iphone_df.loc[:, [True, True, False, False, False]]

                      출시일  디스플레이
iPhone 7       2016-09-16    4.7
iPhone 7 Plus  2016-09-16    5.5
iPhone 8       2017-09-22    4.7
iPhone 8 Plus  2017-09-22    5.5
iPhone X       2017-11-03    5.8
iPhone XS      2018-09-21    5.8
iPhone XS Max  2018-09-21    6.5

In [54]:
iphone_df['디스플레이'] >5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [56]:
iphone_df.loc[iphone_df['디스플레이'] >5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [67]:
iphone_df[(iphone_df['디스플레이'] > 5) & (iphone_df['Face ID']=='Yes')]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [68]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [69]:
iphone_df.iloc[2, 4]

'No'

In [70]:
iphone_df.iloc[[1, 3], [1, 4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [71]:
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [75]:
iphone_df.iloc[:, 3:5]

                  출시 버전 Face ID
iPhone 7       iOS 10.0      No
iPhone 7 Plus  iOS 10.0      No
iPhone 8       iOS 11.0      No
iPhone 8 Plus  iOS 11.0      No
iPhone X       iOS 11.1     Yes
iPhone XS      iOS 12.0     Yes
iPhone XS Max  iOS 12.0     Yes

In [77]:
iphone_df[3:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

In [78]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [80]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [81]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'

In [82]:
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'

In [83]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [86]:
iphone_df.loc['iPhone 8'] = ['1993-03-07', '4.9', '2GB','iOS 11.0', 'No']

In [87]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       1993-03-07   4.9  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [89]:
iphone_df.loc['iPhone 8'] = 'Hi'

In [90]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8               Hi    Hi   Hi        Hi      Hi
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [91]:
iphone_df['디스플레이']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8          Hi
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: 디스플레이, dtype: object

In [92]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']

In [93]:
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8               Hi  4.7 in   Hi        Hi      Hi
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [94]:
iphone_df['Face ID'] = 'No'

In [95]:
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8               Hi  4.7 in   Hi        Hi      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1      No
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0      No
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0      No

In [96]:
iphone_df[['디스플레이', 'Face ID']] = 'x'

In [97]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8               Hi     x   Hi        Hi       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [98]:
iphone_df.loc[['iPhone 7', 'iPhone X']]

                 출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7  2016-09-16     x  2GB  iOS 10.0       x
iPhone X  2017-11-03     x  3GB  iOS 11.1       x

In [99]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'

In [100]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8               Hi     x   Hi        Hi       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [105]:
iphone_df.loc['iPhone 8 Plus':'iPhone XS']

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x

In [106]:
iphone_df = pd.read_csv('./resources/iphone.csv', index_col =0 )
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [107]:
iphone_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [108]:
 iphone_df[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [110]:
 iphone_df[iphone_df['디스플레이']>5]  = 'P'

In [111]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

In [113]:
iphone_df.iloc[[1, 3], [1, 4]]

              디스플레이 Face ID
iPhone 7 Plus     P       P
iPhone 8 Plus     P       P

In [114]:
iphone_df.loc['iPhone XR'] = 'x'

In [115]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P
iPhone XR               x     x    x         x       x

In [116]:
iphone_df['뭉카'] = '3'

In [117]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 뭉카
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  3
iPhone 7 Plus           P     P    P         P       P  3
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  3
iPhone 8 Plus           P     P    P         P       P  3
iPhone X                P     P    P         P       P  3
iPhone XS               P     P    P         P       P  3
iPhone XS Max           P     P    P         P       P  3
iPhone XR               x     x    x         x       x  3

In [118]:
iphone_df.loc['하이', '바이'] = 3

In [119]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
iPhone XR               x     x    x         x       x    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN  3.0

In [128]:
iphone_df.loc['iPhone XR'] = 'x'

In [127]:
# axis = 'index' 행을 삭제하겠다는 것. 
print(id(iphone_df.drop('iPhone XR', axis='index', inplace=True)))
print(id(iphone_df))

4318919416
140336976199584

In [124]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN  3.0

In [129]:
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN  Apple
iPhone 7 Plus           P     P    P         P       P    3  NaN  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN  Apple
iPhone 8 Plus           P     P    P         P       P    3  NaN  Apple
iPhone X                P     P    P         P       P    3  NaN  Apple
iPhone XS               P     P    P         P       P    3  NaN  Apple
iPhone XS Max           P     P    P         P       P    3  NaN  Apple
하이                    NaN   NaN  NaN       NaN     NaN  NaN    3  Apple
iPhone XR               x     x    x         x       x    x    x  Apple

In [130]:
iphone_df.drop('제조사', axis='columns', inplace=True)

In [131]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN    3
iPhone XR               x     x    x         x       x    x    x

In [132]:
iphone_df.drop(['iPhone 7', 'iPhone 8'], axis='index', inplace=False)

               출시일 디스플레이  메모리 출시 버전 Face ID   뭉카   바이
iPhone 7 Plus    P     P    P     P       P    3  NaN
iPhone 8 Plus    P     P    P     P       P    3  NaN
iPhone X         P     P    P     P       P    3  NaN
iPhone XS        P     P    P     P       P    3  NaN
iPhone XS Max    P     P    P     P       P    3  NaN
하이             NaN   NaN  NaN   NaN     NaN  NaN    3
iPhone XR        x     x    x     x       x    x    x

In [135]:
iphone_df.drop(['뭉카', '바이'], axis='columns', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P
하이                    NaN   NaN  NaN       NaN     NaN
iPhone XR               x     x    x         x       x

In [142]:
liverpool_df = pd.read_csv('resources/liverpool.csv', index_col = 0)

In [143]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [144]:
liverpool_df.rename(columns={'position':'POSITION'})

                POSITION  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [146]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
liverpool_df.rename(columns={'position':'POSITION'}, inplace=True)

In [147]:
liverpool_df.rename(columns={'position':'POSITION', 'number':'NUMBER'})

                POSITION  born  NUMBER nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [148]:
liverpool_df.index.name = 'Player Name'

In [149]:
liverpool_df

                position  born  number nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [150]:
liverpool_df.set_index('number')

       position  born nationality
number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [154]:
liverpool_df['Player Name'] = liverpool_df.index

In [155]:
liverpool_df

                position  born  number nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [156]:
liverpool_df.set_index('number')

       position  born nationality      Player Name
number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker