In [17]:
import pandas as pd
import numpy as np

In [12]:
my_df = pd.DataFrame(two_dimension_list, columns = ['name', 'english_score', 'math_score'], 
                    index = ['a', 'b', 'c', 'd'])

In [13]:
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [11]:
type(my_df)

pandas.core.frame.DataFrame

In [14]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [16]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [26]:
two_dimension_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [27]:
arr_example = np.array(two_dimension_list)

In [28]:
type(arr_example)

numpy.ndarray

In [31]:
iphone_df = pd.read_csv('./resources/iphone.csv', index_col =0 )
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [32]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [41]:
iphone_df.loc[['iPhone X', 'iPhone XS Max'], :]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [36]:
type(iphone_df.loc['iPhone X', :])

pandas.core.series.Series

In [37]:
iphone_df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [38]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [42]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [43]:
iphone_df.loc['iPhone 8' : 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [45]:
iphone_df.loc[:,'메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [49]:
iphone_df.loc[[True, False, True, True, False, False, True]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [50]:
iphone_df.loc[:, [True, True, False, False, False]]

                      출시일  디스플레이
iPhone 7       2016-09-16    4.7
iPhone 7 Plus  2016-09-16    5.5
iPhone 8       2017-09-22    4.7
iPhone 8 Plus  2017-09-22    5.5
iPhone X       2017-11-03    5.8
iPhone XS      2018-09-21    5.8
iPhone XS Max  2018-09-21    6.5

In [54]:
iphone_df['디스플레이'] >5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [56]:
iphone_df.loc[iphone_df['디스플레이'] >5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [67]:
iphone_df[(iphone_df['디스플레이'] > 5) & (iphone_df['Face ID']=='Yes')]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [68]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [69]:
iphone_df.iloc[2, 4]

'No'

In [70]:
iphone_df.iloc[[1, 3], [1, 4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [71]:
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [75]:
iphone_df.iloc[:, 3:5]

                  출시 버전 Face ID
iPhone 7       iOS 10.0      No
iPhone 7 Plus  iOS 10.0      No
iPhone 8       iOS 11.0      No
iPhone 8 Plus  iOS 11.0      No
iPhone X       iOS 11.1     Yes
iPhone XS      iOS 12.0     Yes
iPhone XS Max  iOS 12.0     Yes

In [77]:
iphone_df[3:5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

In [78]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [80]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [81]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'

In [82]:
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'

In [83]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [86]:
iphone_df.loc['iPhone 8'] = ['1993-03-07', '4.9', '2GB','iOS 11.0', 'No']

In [87]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       1993-03-07   4.9  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [89]:
iphone_df.loc['iPhone 8'] = 'Hi'

In [90]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8               Hi    Hi   Hi        Hi      Hi
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [91]:
iphone_df['디스플레이']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8          Hi
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: 디스플레이, dtype: object

In [92]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']

In [93]:
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8               Hi  4.7 in   Hi        Hi      Hi
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [94]:
iphone_df['Face ID'] = 'No'

In [95]:
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8               Hi  4.7 in   Hi        Hi      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1      No
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0      No
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0      No

In [96]:
iphone_df[['디스플레이', 'Face ID']] = 'x'

In [97]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8               Hi     x   Hi        Hi       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [98]:
iphone_df.loc[['iPhone 7', 'iPhone X']]

                 출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7  2016-09-16     x  2GB  iOS 10.0       x
iPhone X  2017-11-03     x  3GB  iOS 11.1       x

In [99]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'

In [100]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8               Hi     x   Hi        Hi       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [105]:
iphone_df.loc['iPhone 8 Plus':'iPhone XS']

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x

In [106]:
iphone_df = pd.read_csv('./resources/iphone.csv', index_col =0 )
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [107]:
iphone_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [108]:
 iphone_df[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [110]:
 iphone_df[iphone_df['디스플레이']>5]  = 'P'

In [111]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P

In [113]:
iphone_df.iloc[[1, 3], [1, 4]]

              디스플레이 Face ID
iPhone 7 Plus     P       P
iPhone 8 Plus     P       P

In [114]:
iphone_df.loc['iPhone XR'] = 'x'

In [115]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P
iPhone XR               x     x    x         x       x

In [116]:
iphone_df['뭉카'] = '3'

In [117]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 뭉카
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  3
iPhone 7 Plus           P     P    P         P       P  3
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  3
iPhone 8 Plus           P     P    P         P       P  3
iPhone X                P     P    P         P       P  3
iPhone XS               P     P    P         P       P  3
iPhone XS Max           P     P    P         P       P  3
iPhone XR               x     x    x         x       x  3

In [118]:
iphone_df.loc['하이', '바이'] = 3

In [119]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
iPhone XR               x     x    x         x       x    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN  3.0

In [128]:
iphone_df.loc['iPhone XR'] = 'x'

In [127]:
# axis = 'index' 행을 삭제하겠다는 것. 
print(id(iphone_df.drop('iPhone XR', axis='index', inplace=True)))
print(id(iphone_df))

4318919416
140336976199584

In [124]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN  3.0

In [129]:
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN  Apple
iPhone 7 Plus           P     P    P         P       P    3  NaN  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN  Apple
iPhone 8 Plus           P     P    P         P       P    3  NaN  Apple
iPhone X                P     P    P         P       P    3  NaN  Apple
iPhone XS               P     P    P         P       P    3  NaN  Apple
iPhone XS Max           P     P    P         P       P    3  NaN  Apple
하이                    NaN   NaN  NaN       NaN     NaN  NaN    3  Apple
iPhone XR               x     x    x         x       x    x    x  Apple

In [130]:
iphone_df.drop('제조사', axis='columns', inplace=True)

In [131]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID   뭉카   바이
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No    3  NaN
iPhone 7 Plus           P     P    P         P       P    3  NaN
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No    3  NaN
iPhone 8 Plus           P     P    P         P       P    3  NaN
iPhone X                P     P    P         P       P    3  NaN
iPhone XS               P     P    P         P       P    3  NaN
iPhone XS Max           P     P    P         P       P    3  NaN
하이                    NaN   NaN  NaN       NaN     NaN  NaN    3
iPhone XR               x     x    x         x       x    x    x

In [132]:
iphone_df.drop(['iPhone 7', 'iPhone 8'], axis='index', inplace=False)

               출시일 디스플레이  메모리 출시 버전 Face ID   뭉카   바이
iPhone 7 Plus    P     P    P     P       P    3  NaN
iPhone 8 Plus    P     P    P     P       P    3  NaN
iPhone X         P     P    P     P       P    3  NaN
iPhone XS        P     P    P     P       P    3  NaN
iPhone XS Max    P     P    P     P       P    3  NaN
하이             NaN   NaN  NaN   NaN     NaN  NaN    3
iPhone XR        x     x    x     x       x    x    x

In [135]:
iphone_df.drop(['뭉카', '바이'], axis='columns', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           P     P    P         P       P
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           P     P    P         P       P
iPhone X                P     P    P         P       P
iPhone XS               P     P    P         P       P
iPhone XS Max           P     P    P         P       P
하이                    NaN   NaN  NaN       NaN     NaN
iPhone XR               x     x    x         x       x

In [142]:
liverpool_df = pd.read_csv('resources/liverpool.csv', index_col = 0)

In [143]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [144]:
liverpool_df.rename(columns={'position':'POSITION'})

                POSITION  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [146]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
liverpool_df.rename(columns={'position':'POSITION'}, inplace=True)

In [147]:
liverpool_df.rename(columns={'position':'POSITION', 'number':'NUMBER'})

                POSITION  born  NUMBER nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [148]:
liverpool_df.index.name = 'Player Name'

In [149]:
liverpool_df

                position  born  number nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [150]:
liverpool_df.set_index('number')

       position  born nationality
number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [154]:
liverpool_df['Player Name'] = liverpool_df.index

In [155]:
liverpool_df

                position  born  number nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [156]:
liverpool_df.set_index('number')

       position  born nationality      Player Name
number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

In [1]:
import pandas as pd

In [4]:
laptop_df = pd.read_csv('resources/laptops.csv')

In [5]:
laptop_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [6]:
laptop_df.head(7)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.7,intel,2.0,mac,2.50,NaN
6,Apple,MacBook Pro (TouchBar),16,ssd,512,13.3,158000,intel,i5,2.9,intel,2.0,mac,1.37,NaN

In [7]:
laptop_df.tail(6)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
161,Asus,X541UA-GO1345D,4,hdd,1024,15.6,27730,intel,i3 6th gen,2.0,intel,NaN,linux,1.84,NaN
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [8]:
laptop_df.shape

(167, 15)

In [9]:
laptop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [11]:
laptop_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [12]:
laptop_df.index

RangeIndex(start=0, stop=167, step=1)

In [13]:
laptop_df.describe()

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250812
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

In [14]:
laptop_df.sort_values(by='price')

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN

In [15]:
laptop_df.sort_values(by='price', ascending=False, inplace=True)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

In [17]:
laptop_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [19]:
laptop_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [20]:
laptop_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [21]:
laptop_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

In [23]:
world_cities_df = pd.read_csv('resources/world_cities.csv')

In [30]:
world_cities_df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [29]:
world_cities_df['City / Urban area'].value_counts()

Madrid                      1
Bonita Springs / Naples     1
Bangalore                   1
Dublin                      1
Indianapolis                1
                           ..
Riverside/San Bernardino    1
Nice                        1
London                      1
Winnipeg                    1
Worcester                   1
Name: City / Urban area, Length: 249, dtype: int64

In [31]:
world_cities_df['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Colombia         1
Thailand         1
Hungary          1
Sweden           1
Netherlands      1
Name: Country, Length: 61, dtype: int64

In [33]:
world_cities_df['Country'].value_counts().shape

(61,)

In [39]:
(world_cities_df['Population']/world_cities_df['Land area (in sqKm)']).describe()

count      249.000000
mean      3285.489898
std       4124.363261
min        329.284750
25%        863.793103
50%       1535.234899
75%       3858.024691
max      29648.760331
dtype: float64

In [40]:
world_cities_df['Density']=world_cities_df['Population']/world_cities_df['Land area (in sqKm)']

In [41]:
world_cities_df

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),Density
0,0,Buenos Aires,Argentina,11200000,2266,4942.630185
1,1,Melbourne,Australia,3162000,2080,1520.192308
2,2,Sydney,Australia,3502000,1687,2075.874333
3,3,Brisbane,Australia,1508000,1603,940.736120
4,4,Perth,Australia,1177000,964,1220.954357
...,...,...,...,...,...,...
244,245,Canton,USA,267000,372,717.741935
245,246,Spokane,USA,335000,371,902.964960
246,247,Tashkent,Uzbekistan,2200000,531,4143.126177
247,248,Ho Chi Minh City,Vietnam,4900000,518,9459.459459
248,249,Harare,Zimbabwe,1750000,712,2457.865169

In [42]:
world_cities_df['Density'].describe()

count      249.000000
mean      3285.489898
std       4124.363261
min        329.284750
25%        863.793103
50%       1535.234899
75%       3858.024691
max      29648.760331
Name: Density, dtype: float64

In [48]:
world_cities_df.loc[world_cities_df['Density'] == 29648.760331]

Empty DataFrame
Columns: [Unnamed: 0, City / Urban area, Country, Population, Land area (in sqKm), Density]
Index: []

In [51]:
(world_cities_df['Density'] == 29648.760331).info

AttributeError: 'Series' object has no attribute 'info'