In [17]:
import pandas as pd
import numpy as np

In [12]:
my_df = pd.DataFrame(two_dimension_list, columns = ['name', 'english_score', 'math_score'], 
                    index = ['a', 'b', 'c', 'd'])

In [13]:
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [11]:
type(my_df)

pandas.core.frame.DataFrame

In [14]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [16]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [26]:
two_dimension_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [27]:
arr_example = np.array(two_dimension_list)

In [28]:
type(arr_example)

numpy.ndarray